.container{
    background-image: url("./assets/header-img.png");

    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.row{
    margin: 0 50px;
}
.hero-h1 {
    color: white;
    font-family: Proxima Nova;
    padding: 40px 20px 20px 20px;
    font-size: 80px;
}

.hero-p {
    color: white;
    font-family: Proxima Nova;
    padding: 10px 20px;
}

.hero-content {
    padding-top: 200px;
}

.wrapper {
    width: 100%;
    background:white;
    border-radius: 24px;
}


#signup {
    border-radius: 30px;
    height: 55px;
    line-height: 55px;
    padding: 20px 50px;
    border:none;
    background: #FFC015;
    color: white;
    text-decoration: none;
}



html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

